<?xml version="1.0" encoding="UTF-8"?>
<log4j:configuration>

    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p [%t] [%C]: %m%n" />
        </layout>
    </appender>
    
    <logger name="org.jooq.tools.JooqLogger">
        <level value="debug"/> 
        <appender-ref ref="stdout" />
    </logger>

    <root>
        <priority value="debug" />
        <appender-ref ref="stdout" />
    </root>
</log4j:configuration>